node_modules/
public/video/*
work/
logs/*
!logs/.gitkeep 
*.webm
*.log
*.DS_Store

# We're using yarn for this library don't include conflicting npm lock files
package-lock.json

# Compiled Python files
*.pyc

# Production deploy config
pm2-env.json
yarn.lock
public/img/.DS_Store
