
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100%;
    background-color: #333;

    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
    color: #eee;

    /* Disable text highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

button {
    color: white;
    font-size: 2em;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 40px;
    margin: 10% auto 2% auto;
    border-radius: 4px;
    width: 90%;
    background-color: #008CBA;
}

button.careful {
    background-color: #CE594B;
}

.log-container {
    margin: 10% auto 2% auto;
    color: #fDdA48;
    text-align: left;
    width: 90%;
}

ul {
    list-style-type:none;
    background-color: #777;
    border: none;
    padding: 15px 32px;
    text-align: left;
    font-size: 0.75em;
    font-weight: 100;
}

li {
    margin: 10px 0;
}
